/**
 * =Layout card list
 */
.card-list-view {
	margin: 0;
	padding: 0 10px;
}

.card-item {
	background: #FFFFFF;
	box-shadow: 0px 8px 10px -6px rgba(37, 36, 36, 0.5);
	-webkit-box-shadow: 0px 8px 10px -6px rgba(37, 36, 36, 0.5);
	cursor: pointer;
	opacity: 1;
	padding: 15px;
	margin-bottom: 5px;
	@include span-columns(4);
	@include outer-container;

	.heading {
		font-size: 18px;
		border-bottom: 1px solid #CCCCCC;
		padding-bottom: 8px;
		margin-bottom: 8px;
	}

	.metadata {
		font-size: 14px;
	}

	.task-link {
		color: #333333;
	}

}

.card-photo-container {
	@include span-columns(1);
	text-align: center;

	.photo {
		background-size: cover;
		border-radius: 100%;
		display: block;
		margin: 0 auto;
		width: 75px;
		height: 75px;
	}

	.photo-of {
		font-size: 14px;
		margin-top: 10px;
	}	
}

.card-content-container {
	@include span-columns(3);
	margin-right: 0;
}

.card-container {
	@include span-columns(4);
}

@include media($large) {

	.card-list-view {
		margin: 0;
		padding: 0;
	}

	.card-item {
		@include span-columns(3);
		@include omega(4n);
		border-bottom: none;
		margin-bottom: 20px;
	}

}